* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#form-page {
}

.container {
  margin-top:10vh;
  margin-bottom: 10vh;
}

.form-title {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 4vh;
}

.label-temp-right {
  float: right;
}


